{% extends 'baseback.html.twig' %}

{% block title %}New Echanges{% endblock %}

{% block body %}
    <h1>Create new Echanges</h1>

    {{ include('echanges/_form.html.twig') }}

    <a href="{{ path('app_echanges_index') }}">back to list</a>
{% endblock %}
