{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <h1>Connexion</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_row(form.mail) }}
        {{ form_row(form.password) }}

        <button type="submit" class="btn btn-primary">Se connecter</button>
    {{ form_end(form) }}
{% endblock %}
