{{ form_start(form, {'attr':{'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <button type="submit"  style=" font-size: 16px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 10px 100px / 120px;
    ">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}