{% block javascripts %}
   
{% endblock %}

{% block body %}
<style>
table {
  border-color: 	#8B0000;
  line-height: 2;
}
img {
    position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        height: auto;
    }
title {
        color: #4c71de;
        margin: 0 auto;
        text-align: center;
    }

.signature {
			position: fixed;
			bottom: 0;
			right: 0;
			padding: 20px;
			background-color: #eee;
			font-size: 20px;
            color: #8B0000;
			
		}

        .nom {
			position: absolute;
			top: 0;
			left: 0;
			padding: 50px;
			background-color: #eee;
			font-size: 30px;
			color: #8B0000;
		}

	

</style>
 <!-- Begin Page Content -->
<img src="data:image/jpeg;base64,{{logobase64}}" />
<div class="nom">
		AutoDoc
	</div>
<br></br>
<br></br>
<br></br>

                <div class="container-fluid">

                    
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 ;style=text-align: center; color: #8B0000;">
                    <h2 style="text-align: center; color: 	#8B0000;">Reponses_Reclamations</h2>
                        </div>
                        <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered  border: 2px solid blue; " border=2 id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th style="text-align:center;">Id</th>
                                    <th style="text-align:center;">Contenu</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                {% for rep in reponse %}
                                <tr>
                                    <td style="text-align:center;">{{ rep.id }}</td>
                                    <td style="text-align:center;">{{ rep.contenu }}</td>
                                 
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="5" style="text-align:center;">No records found</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="signature">
		signature ici
	</div>
                    </div>
                        </div>

                    </div>

                </div>
              



    
{% endblock %}