{% extends 'baseback.html.twig' %}

{% block title %}New Livraison{% endblock %}

{% block body %}
    <h1>Create new Livraison</h1>

    {{ include('livraisonback/_form.html.twig') }}

    <a href="{{ path('app_livraison_back_index') }}">back to list</a>
{% endblock %}
