{% extends 'baseback.html.twig' %}

{% block title %}Edit Echanges{% endblock %}

{% block body %}
    

    {{ include('echangesback/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_echanges_back_index') }}">back to list</a>

    {{ include('echangesback/_delete_form.html.twig') }}
{% endblock %}
