<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>AutoDoc - TOP 1 en Tunisie</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">  

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

   <link rel="canonical" href="login.html"><link rel="shortcut icon" href="../../cdn.shopify.com/s/files/1/0402/4431/4268/files/img_25_32x328106.png?v=1631785173" type="image/png"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

		<!--[if IE]>
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<![endif]-->
		
		<!-- CSS -->
		








<style type="text/css">
	@font-face {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/lato/lato_n4.c86cddcf8b15d564761aaa71b6201ea326f3648b.woff2?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=8575272ca2dae0527d9e7d4b98892231daf2c4832a05ebef29cccdd763c50317") format("woff2"),
       url("https://fonts.shopifycdn.com/lato/lato_n4.e0ee1e2c008a0f429542630edf70be01045ac5e9.woff?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=c94697c202e2dd6cb26e74ee19c26eb642abcc1a7721a3ad7a7fe026398d0b5f") format("woff");
}

	@font-face {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/lato/lato_n4.c86cddcf8b15d564761aaa71b6201ea326f3648b.woff2?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=8575272ca2dae0527d9e7d4b98892231daf2c4832a05ebef29cccdd763c50317") format("woff2"),
       url("https://fonts.shopifycdn.com/lato/lato_n4.e0ee1e2c008a0f429542630edf70be01045ac5e9.woff?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=c94697c202e2dd6cb26e74ee19c26eb642abcc1a7721a3ad7a7fe026398d0b5f") format("woff");
}

	@font-face {
  font-family: Lato;
  font-weight: 300;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/lato/lato_n3.f64559081575f0f98ba4a0d22821eab5d9bd8768.woff2?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=a7e87aba4f0a774da300183275dd04cb84b42369a5719b3a0907bf04350d1500") format("woff2"),
       url("https://fonts.shopifycdn.com/lato/lato_n3.ce2206e9946a34c16103d844d8d02a64db8351b8.woff?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=497281084f6ddf9701ffdfa3c69d3bc85faf6eaa64c0f545a02bfe245c60950e") format("woff");
}

	@font-face {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/lato/lato_n4.c86cddcf8b15d564761aaa71b6201ea326f3648b.woff2?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=8575272ca2dae0527d9e7d4b98892231daf2c4832a05ebef29cccdd763c50317") format("woff2"),
       url("https://fonts.shopifycdn.com/lato/lato_n4.e0ee1e2c008a0f429542630edf70be01045ac5e9.woff?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=c94697c202e2dd6cb26e74ee19c26eb642abcc1a7721a3ad7a7fe026398d0b5f") format("woff");
}

	@font-face {
  font-family: Lato;
  font-weight: 500;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/lato/lato_n5.10bc1bd2bdb4c0ac35363745e79901b69a0be29a.woff2?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=74a1f3e9bafe9da0bcc3efeadceb02af4e8eb3494c395208b51beb24bb720bd5") format("woff2"),
       url("https://fonts.shopifycdn.com/lato/lato_n5.f7f0195bc06ce869daac4bf73d242fb9b37734db.woff?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=8649149958dfb44ae6d96302c761504c0983ab4c2b5d6faffd9a0fd063a81ab2") format("woff");
}

	@font-face {
  font-family: Lato;
  font-weight: 700;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/lato/lato_n7.f0037142450bd729bdf6ba826f5fdcd80f2787ba.woff2?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=15381b8aedd99b1a171a0bfdae60267bb1dec50b96e790da03690e644eee5695") format("woff2"),
       url("https://fonts.shopifycdn.com/lato/lato_n7.50161a3d4f05d049b7407d86c5a8834e4d6e29bf.woff?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=3f5c8a148d278fd7af103810d02436fd1f87181757f70bb12b541a5555682bd0") format("woff");
}

	@font-face {
  font-family: Lato;
  font-weight: 600;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/lato/lato_n6.8f129fde40f203553b1c63523c8c34e59550404e.woff2?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=0185d6896a86efa5d6014f81f8d8de83214ad1b4964893005097b9480f8eabcc") format("woff2"),
       url("https://fonts.shopifycdn.com/lato/lato_n6.822b168fbb902b52be8d60ec7a9fd5122a4894fe.woff?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=ae74bf5d45a39fcd0ae79d624ea8a19101b9d8f3b583a0dc115cc92bb8efde25") format("woff");
}

	@font-face {
  font-family: Lato;
  font-weight: 800;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/lato/lato_n8.4b93b57a12f9f32bb45cb5342521b1e2bdfa43ed.woff2?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=e545416ea78af5018f3a5ce52761e95d68af477a74cd23718c7ca474d7bacc94") format("woff2"),
       url("https://fonts.shopifycdn.com/lato/lato_n8.dd6b6a30312dc6a1021ab61103cba1114735570a.woff?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=dd4ec88e371ed4146e32981cbc4b1c144103163d0f90f9bfaaf041484604839a") format("woff");
}

	@font-face {
  font-family: Lato;
  font-weight: 900;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/lato/lato_n9.233741140e0a0b9c15e757ca7bdbcf5c9de93622.woff2?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=add4281647a93b741a3824d08f5385c871936577dfbc48354a367df4cdaa78bc") format("woff2"),
       url("https://fonts.shopifycdn.com/lato/lato_n9.7df1fb8a939b9e4d16b64dc9612f9f29abaecaf8.woff?h1=dGhlbWU4NzAtY2FyLWRlYWxlci5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=457e0171daaeddd526960470ad32968399c2bd334a59235a5f410e3fd73adff2") format("woff");
}

	
	:root {
		/*  TYPOGRAPHY  */
		--base-font: Lato, sans-serif;
		--base-font-size: 16px;
		--heading-font: Lato, sans-serif;
		--heading-font-size: 30px;
		--heading-light-font-weight: 300;
		--heading-regular-font-weight: 400;
		--heading-medium-font-weight: 500;
		--heading-bold-font-weight: 700;
		--heading-semi-bold-font-weight: 600;
		--heading-extra-bold-font-weight: 800;
		--heading-extra-bold-super-font-weight: FontDrop;
		/*  COLORS  */
		--color-1: #2d4a68;
		--color-2: #83878f;
		--color-3: #ffffff;
		--color-4: #000000;
		--bg-color: #ffffff;
		--base-font-color: #83878f;
		--heading-font-color: #100503;
		--border-color: #f5f6f8;
		--links-color: #100503;
		--links-color-hover: #2d4a68;
		--button-color: #2d4a68;
		--button-text-color: #ffffff;
		--button-border-color: #2d4a68;
		--button-hover-color: #100503;
		--button-hover-text-color: #ffffff;
		--button-hover-border-color: #100503;
		--alt-button-color: #ffffff;
		--alt-button-text-color: #100503;
		--alt-button-border-color: #2d4a68;
		--alt-button-hover-color: #2d4a68;
		--alt-button-hover-text-color: #ffffff;
		--alt-button-hover-border-color: #2d4a68;
		--product-name-color: #100503;
		--product-name-color-hover: #2d4a68;
		--product-price-color: #2d4a68;
		--product-price-sale-color: #83878f;
	}
</style>
		<link href="../../cdn.shopify.com/s/files/1/0402/4431/4268/t/3/assets/style.scssf938.css?v=32860706673807233671631866870" rel="stylesheet" type="text/css" media="all" />
		<link href="../../cdn.shopify.com/s/files/1/0402/4431/4268/t/3/assets/responsive.scss26f9.css?v=183167622029134216831631785912" rel="stylesheet" type="text/css" media="all" />

</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
            <div class="col-lg-4">
                <a href="" class="text-decoration-none">
                    <span class="h1 text-uppercase text-primary bg-dark px-2">Multi</span>
                    <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Shop</span>
                </a>
            </div>
            <div class="col-lg-4 col-6 text-left">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-6 text-right">
                <p class="m-0">Customer Service</p>
                <h5 class="m-0">+012 345 6789</h5>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid bg-dark mb-30">
        <div class="row px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn d-flex align-items-center justify-content-between bg-primary w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; padding: 0 30px;">
                    <h6 class="text-dark m-0"><i class="fa fa-bars mr-2"></i>Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 999;">
                    <div class="navbar-nav w-100">
                        <div class="nav-item dropdown dropright">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Dresses <i class="fa fa-angle-right float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                                <a href="" class="dropdown-item">Men's Dresses</a>
                                <a href="" class="dropdown-item">Women's Dresses</a>
                                <a href="" class="dropdown-item">Baby's Dresses</a>
                            </div>
                        </div>
                        <a href="" class="nav-item nav-link">Shirts</a>
                        <a href="" class="nav-item nav-link">Jeans</a>
                        <a href="" class="nav-item nav-link">Swimwear</a>
                        <a href="" class="nav-item nav-link">Sleepwear</a>
                        <a href="" class="nav-item nav-link">Sportswear</a>
                        <a href="" class="nav-item nav-link">Jumpsuits</a>
                        <a href="" class="nav-item nav-link">Blazers</a>
                        <a href="" class="nav-item nav-link">Jackets</a>
                        <a href="" class="nav-item nav-link">Shoes</a>
                    </div>
                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <span class="h1 text-uppercase text-dark bg-light px-2">Multi</span>
                        <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">Shop</span>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="index.html" class="nav-item nav-link active">Home</a>
                            <a href="shop.html" class="nav-item nav-link">Shop</a>
                            <a href="detail.html" class="nav-item nav-link">Shop Detail</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down mt-1"></i></a>
                                <div class="dropdown-menu bg-primary rounded-0 border-0 m-0">
                                    <a href="cart.html" class="dropdown-item">Shopping Cart</a>
                                    <a href="checkout.html" class="dropdown-item">Checkout</a>
                                </div>
                            </div>
                            <a href="contact.html" class="nav-item nav-link">Contact</a>
                        </div>
                        <div class="navbar-nav ml-auto py-0 d-none d-lg-block">
                            <a href="" class="btn px-0">
                                <i class="fas fa-heart text-primary"></i>
                                <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
                            </a>
                            <a href="" class="btn px-0 ml-3">
                                <i class="fas fa-shopping-cart text-primary"></i>
                                <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->


            <div class="main_content container_big ">
								<div id="shopify-section-template-login" class="shopify-section"><div class="template_customer template_customer__login">
	<div class="container">
		<h1 class="page_heading">Account</h1>

		
			
			<div id="account_section__wrapper">
				<div class="customer_wrapper">
					<a href="#" id="account_login__link" class="customer_block customer_block__login">
						<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M20 16C15.6 16 12 12.4 12 8C12 3.6 15.6 0 20 0C24.4 0 28 3.6 28 8C28 12.4 24.4 16 20 16ZM20 2C16.7 2 14 4.7 14 8C14 11.3 16.7 14 20 14C23.3 14 26 11.3 26 8C26 4.7 23.3 2 20 2Z"/>
							<path d="M40 40H0V39C0.299252 34.1 2.39401 29.3 5.88529 25.8C9.67581 22.1 14.6633 20 19.9501 20C25.2369 20 30.3242 22.1 34.015 25.9C37.5062 29.4 39.8005 34 40 39V40ZM2.09476 38H37.8055C37.3067 33.9 35.5112 30.2 32.6185 27.3C29.3267 23.9 24.7382 22 19.9501 22C15.1621 22 10.6733 23.9 7.2818 27.3C4.38903 30.2 2.59352 33.9 2.09476 38Z"/>
						</svg>
						<h5>Log in</h5>
					</a>

					<a href="#" id="account_register__link" class="customer_block customer_block__register">
						<svg width="44" height="40" viewBox="0 0 44 40" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M20 16C15.6 16 12 12.4 12 8C12 3.6 15.6 0 20 0C24.4 0 28 3.6 28 8C28 12.4 24.4 16 20 16ZM20 2C16.7 2 14 4.7 14 8C14 11.3 16.7 14 20 14C23.3 14 26 11.3 26 8C26 4.7 23.3 2 20 2Z"/>
							<path d="M40 40H0V39C0.299252 34.1 2.39401 29.3 5.88529 25.8C9.67581 22.1 14.6633 20 19.9501 20C25.2369 20 30.3242 22.1 34.015 25.9C37.5062 29.4 39.8005 34 40 39V40ZM2.09476 38H37.8055C37.3067 33.9 35.5112 30.2 32.6185 27.3C29.3267 23.9 24.7382 22 19.9501 22C15.1621 22 10.6733 23.9 7.2818 27.3C4.38903 30.2 2.59352 33.9 2.09476 38Z"/>
							<path d="M35 23V22H34H32H31V23V27H27H26V28V30V31H27H31V35V36H32H34H35V35V31H39H40V30V28V27H39H35V23Z" stroke="white" stroke-width="2"/>
						</svg>
						<h5>Registration </h5>
					</a>

					


					<a href="#" id="account_reset__link" class="customer_block customer_block__restore">
						<svg width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M42.435 15.5649C35.0151 8.14495 22.9849 8.14495 15.565 15.5649C8.14501 22.9849 8.14501 35.015 15.565 42.435C22.9849 49.8549 35.0151 49.8549 42.435 42.435C44.8821 39.9879 46.5222 37.0393 47.3552 33.9201" stroke="#222222" stroke-width="2"/>
							<path d="M43.5 11.5L42.5 16.5L37.5 15.5" stroke="#222222" stroke-width="2"/>
							<rect x="22" y="25" width="14" height="12" stroke="#222222" stroke-width="2"/>
							<path d="M33 26C33 23.2386 31.2091 21 29 21C26.7909 21 25 23.2386 25 26" stroke="#222222" stroke-width="2"/>
							<circle cx="29" cy="31" r="2" fill="#222222"/>
						</svg>

						<h5>Restore Password</h5>
					</a>
				</div>
			</div>

			
			<div id="account_section__register" class="account_section account_section__register">
				<div class="customer_item_wrap">
					<h4>Create an account <a class="link_close account_register__close" href="#" title="Close">
						<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M13.7156 5L15 6.14286L10.993 10L15 13.8571L13.7156 15L9.95417 11.2857L6.28442 15L5 13.8571L8.9342 10L5 6.14286L6.28442 5L9.95417 8.71429L13.7156 5Z" fill="#222222"/>
						</svg>
					</a></h4>

					<div class="form-horizontal">
						<form method="post" action="https://theme870-car-dealer.myshopify.com/account" id="create_customer" accept-charset="UTF-8" data-login-with-shop-sign-up="true"><input type="hidden" name="form_type" value="create_customer" /><input type="hidden" name="utf8" value="✓" />
							<input type="hidden" id="password_confirmed" name="customer[password]">

							

							<div class="clearfix form-group">
								<label for="first_name">First name</label>
								<div class=>
									<input type="text" value="" name="customer[first_name]" id="first_name">
								</div>
							</div>

							<div class="clearfix form-group">
								<label for="last_name">Last name</label>
								<div>
									<input type="text" value="" name="customer[last_name]" id="last_name">
								</div>
							</div>

							<div class="clearfix form-group">
								<label for="email">Email address</label>
								<div>
									<input type="email" value="" name="customer[email]" id="email">
								</div>
							</div>

							<div class="clearfix form-group">
								<label for="password_1">Password</label>
								<div>
									<i class="file_eye_el"></i>
									<input type="password" value="" name="customer[password]" id="password_1">
								</div>
							</div>

							<div class="clearfix form-group">
								<label for="password_2">Confirm password</label>
								<div>
									<i class="file_eye_el"></i>
									<input type="password" value="" id="password_2">
								</div>
							</div>

							<div class="form-group">
								<div>
									<button class="btn btn-primary" type="submit">Register</button>
								</div>
							</div>
						</form>
					</div>
				</div> 
			</div>
			
			
			<div id="account_section__login"  class="account_section account_section__login">
				<div class="customer_item_wrap">
					<form method="post" action="https://theme870-car-dealer.myshopify.com/account/login" id="customer_login" accept-charset="UTF-8" data-login-with-shop-sign-in="true"><input type="hidden" name="form_type" value="customer_login" /><input type="hidden" name="utf8" value="✓" />
						<h4>Already registered?<a class="link_close account_login__close" href="#" title="Close">
						<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M13.7156 5L15 6.14286L10.993 10L15 13.8571L13.7156 15L9.95417 11.2857L6.28442 15L5 13.8571L8.9342 10L5 6.14286L6.28442 5L9.95417 8.71429L13.7156 5Z" fill="#222222"/>
						</svg>
						</a></h4>

						

						<div class="form-group">
							<label for="customer_email">Email address</label>
							<input type="email" value="" name="customer[email]" id="customer_email">
						</div>
						
						
							<div class="form-group">
								<label for="customer_password">Password</label>
								<i class="file_eye_el"></i>
								<input type="password" value="" name="customer[password]" id="customer_password">
							</div>
						
						  
						<div class="form-group">
							<button class="btn" type="submit">Sign in</button>
						</div>
					</form>
				</div>
			</div>
			
			
			

			
			<div id="account_section__reset" class="account_section account_section__reset">
				<div class="customer_item_wrap">
					<h4>Reset Password 
						<a class="link_close account_reset__cancel" href="#" title="Close">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M13.7156 5L15 6.14286L10.993 10L15 13.8571L13.7156 15L9.95417 11.2857L6.28442 15L5 13.8571L8.9342 10L5 6.14286L6.28442 5L9.95417 8.71429L13.7156 5Z" fill="#222222"/>
							</svg>
						</a>
					</h4>

					<p class="note">We will send you an email to reset your password</p>

					<form method="post" action="https://theme870-car-dealer.myshopify.com/account/recover" accept-charset="UTF-8"><input type="hidden" name="form_type" value="recover_customer_password" /><input type="hidden" name="utf8" value="✓" />
						<div class="clearfix form-horizontal">
							
								
							

							<div class="form-group">
								<label for="email_recover" class="large">Email Address</label>
								<div>
									<input type="email" id="email_recover" name="email" value="">
								</div>
							</div>

							<div class="form-group">
								<div>
									<button type="submit" class="btn">Submit</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
            </div>

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <h5 class="text-secondary text-uppercase mb-4">Get In Touch</h5>
                <p class="mb-4">No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et dolor sed dolor. Rebum tempor no vero est magna amet no</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, New York, USA</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Quick Shop</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">My Account</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Newsletter</h5>
                        <p>Duo stet tempor ipsum sit amet magna ipsum tempor est</p>
                        <form action="">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Your Email Address">
                                <div class="input-group-append">
                                    <button class="btn btn-primary">Sign Up</button>
                                </div>
                            </div>
                        </form>
                        <h6 class="text-secondary text-uppercase mt-4 mb-3">Follow Us</h6>
                        <div class="d-flex">
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-secondary">
                    &copy; <a class="text-primary" href="#">Domain</a>. All Rights Reserved. Designed
                    by
                    <a class="text-primary" href="https://htmlcodex.com">HTML Codex</a>
                    <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="img/payments.png" alt="">
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>