{% extends 'base.html.twig' %}

{% block title %}
  Reclamations index
{% endblock %}

{% block body %}
  <h1>
    Reclamations index
  </h1>

  <table class="table">
    <thead>
      <tr>
        <th>
          Etat
        </th>
        <th>
          Description
        </th>
        <th>
          actions
        </th>
      </tr>
    </thead>
    <tbody>
      {% for reclamation in reclamations %}
        <tr>
          <td>
            {{ reclamation.etat }}
          </td>
          <td>
            {{ reclamation.description }}
          </td>
          <td>
            <a href="{{
              path(
                'app_reclamations_show',
                {
                  id: reclamation.id
                }
              )
              }}">
              show
            </a>
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="4">
            no records found
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="{{ path('app_reclamations_new') }}">Create new</a>
{% endblock %}
